<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubNet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_package/favicon.ico') }}">
</head>
<body>
  <body>
    <div class="wrap">
      <div>
        <div style="background-color: #f58025;" class="cover-container d-flex p-3 mx-auto flex-column">
          <header class="masthead mb-auto">
            <div class="d-flex flex-row">
                <div class="d-flex flex-row">
                    <img src=https://res.cloudinary.com/clubnet/image/upload/v1668493806/ClubNet_logo_white_a7byvg.png style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;">
                    <h3 style="margin-left: 10px;" class="masthead-brand">ClubNet</h3>
                </div>
                <div style="width: 100%;"  class="d-flex justify-content-end">
                    <nav class="nav nav-masthead justify-content-center">
                        {% if validation == 3 %}
                          <a class="nav-link active" href="/admin">Admin</a>
                        {% endif %}
                        <a class="nav-link" href="/home">Home</a>
                        <a class="nav-link" href="/announcements">Announcements</a>
                        <a class="nav-link" href="/members">Members</a>
                        <a class="nav-link" href="/donations">Donate</a>
                        <div style="width: 40px; height: 40px; margin-left: 10px;" onclick="window.location='/myprofile';">
                            <img src={{img}}  style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;" >
                        </div>
                    </nav>
                <div>
            </div>
          </header>
        </div>
        <!--  -->

        <div class="d-flex flex-column">
          <!-- Header -->
          <div class="d-flex" style="margin-top: 25px; margin-bottom: 10px; width: 100%;">
            <h3 class="page-title">Current Members</h3>
            <div style="width: 80%;" class="d-flex justify-content-end">
              <a href= "{{all_members}}" class="btn btn-secondary"> Email all Members</a>
              <a style="margin-left: 5px; margin-right: 5px" href= "{{students}}" class="btn btn-secondary"> Email all Students</a>
              <a href= "{{alumni}}" class="btn btn-secondary"> Email all Alumni</a>
            </div>
          </div>
          <!-- User list -->
          <div>
            <table class="table">
              <tr>
                <th style="width: 250px;">Name</th>
                <th>Role(s)</th>
                <th style="width: 250px;">Actions</th>
              </tr>
              {% for user in members %}
              <tr>
                <td>
                  <div style="cursor: pointer" onclick="window.location='/profile?net_id={{user.get_user_id()}}';" class="d-flex flex-row align-items-center">
                    <img style="width: 50px; height: 50px; border-radius: 15px; object-fit: cover;" src={{user.get_profile_image_url()}}>
                    <div style="margin-left: 5px;" class="d-flex flex-column justify-content-center">
                      <b class="d-flex align-items-center">{{user.get_name()}}</b>
                      <span style="display: inline;">{{user.get_user_id()}}</span>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-row">
                    {% if user.isAdmin %}
                      <div style="margin-right: 5px; font-size: 15px; font-weight: 700; text-align: center; background-color: black; color: white; width: 100px; border-radius: 15px; padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px;">
                        Admin
                      </div>
                    {% endif %}
                    <div style="font-weight: 700; font-size: 15px; text-align: center; background-color: lightblue; color: black; width: 100px; border-radius: 15px; padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px;">
                      Member
                    </div>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-column">
                    {% if user.isAdmin %}
                      <!-- remove user button -->
                      <form action="admin/remove_user" method = "POST" class="d-flex flex-column">
                        <input type="hidden" value="{{user.get_user_id()}}" style="margin-bottom: 10px;" class="text" name="user_id" placeholder="netid"></input>
                        <button style="cursor: hover; width: 200px; height: 30px; background-color: rgb(255, 73, 73); border-radius: 5px; margin-top: 10px;" class="btn d-flex flex-row align-items-center justify-content-center">
                          <img style="width: 20px; height: 20px; object-fit: contain;" src="https://www.iconpacks.net/icons/1/free-trash-icon-347-thumb.png">
                          <span style="margin-left: 5px;">Remove User</span>
                        </button>
                      </form>
                      <!-- remove admin button -->
                      <form action="admin/remove_admin" method = "POST" class="d-flex flex-column">
                        <input type="hidden" value="{{user.get_user_id()}}" class="text" name="user_id" placeholder="netid">
                        <button style="cursor: hover; width: 200px; height: 30px; background-color: orange; border-radius: 5px; margin-top: 10px;" class="btn d-flex flex-row align-items-center justify-content-center">
                          <img style="width: 20px; height: 20px; object-fit: contain;" src="https://cdn-icons-png.flaticon.com/512/61/61182.png">
                          <span style="margin-left: 5px;">Remove Admin Role</span>
                        </button>
                      </form>
                    {% else %}
                      <!-- make user an admin button -->
                      <button onclick="make_admin(name)" name="{{user.get_user_id()}}" style="cursor: hover; width: 200px; height: 30px; background-color: rgb(36, 200, 36); border-radius: 5px;" class="btn d-flex flex-row align-items-center justify-content-center">
                        <img style="width: 20px; height: 20px; object-fit: contain;" src="https://icons.veryicon.com/png/o/miscellaneous/yuanql/icon-admin.png">
                        <span style="margin-left: 5px;">Make Admin</span>
                      </button>
                      <!-- remove user button -->
                      <form action="admin/remove_user" method = "POST" class="d-flex flex-column">
                        <input type="hidden" value="{{user.get_user_id()}}" style="margin-bottom: 10px;" class="text" name="user_id" placeholder="netid"></input>
                        <button style="cursor: hover; width: 200px; height: 30px; background-color: rgb(255, 73, 73); border-radius: 5px; margin-top: 10px;" class="btn d-flex flex-row align-items-center justify-content-center">
                          <img style="width: 20px; height: 20px; object-fit: contain;" src="https://www.iconpacks.net/icons/1/free-trash-icon-347-thumb.png">
                          <span style="margin-left: 5px;">Remove User</span>
                        </button>
                      </form>
                    {% endif %}
                  </div>
                </td>

              </tr>
          {% endfor %}
              </table>
          </div>
          <!-- Modal -->
          <script>
            const make_admin = user => {
              let modal = document.getElementById("popup")
              let container = document.getElementById("popup-container")
              let ok = document.getElementById("ok")
              let cancel = document.getElementById("cancel")
              let netid = document.getElementById("netid")
              let input = document.getElementById("input")
              window.onclick = e => {
                if (e.target == container) {
                  modal.style.display = "none";
                }
              }
              cancel.onclick = () => {
                modal.style.display = "none";
              }
              modal.style.display = "block";
              netid.value = user;
            }
          </script>
          <div id="popup" style="z-index: 1;" class="modal">
            <div id="popup-container" style="width: 100%; height: 100%" class="d-flex align-items-center justify-content-center">
              <div style="background-color: white; padding: 20px; border-radius: 10px" class="d-flex flex-column">
                <b>Enter the admin's officer position</b>
                <form action="admin/make_admin" method = "POST">
                  <input type="hidden" class="text" id="netid" name="user_id" placeholder="netid"></input>
                  <input style="width: 100%;" id="input" name="off_pos" placeholder="Officer Position">
                  <div style="margin-top: 10px;" class="d-flex justify-content-around">
                    <button type="submit" id="ok" style="width: 100px;" class="btn btn-primary">OK</button>
                    <button id="cancel" style="width: 100px;" class="btn btn-danger">Cancel</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      <div class="container-fluid" id="results_table">
        <table class="table table-striped">
          <tr>
            <th>User</th>
            <th>Class Year</th>
            <th>Email</th>
            <th>Timestamp</th>
            <th>Action</th>
          </tr>
          {% for req in requests%}
          <tr>
            <td>
              <div class="d-flex flex-row align-items-center">
                <img style="width: 50px; height: 50px; border-radius: 15px; object-fit: cover;" src="https://freesvg.org/img/abstract-user-flat-4.png">
                <div style="margin-left: 5px;" class="d-flex flex-column justify-content-center">
                  <b class="d-flex align-items-center">{{req.get_name()}}</b>
                  <span style="display: inline;">{{req.get_user_id()}}</span>
                </div>
              </div>
            </td>
            <td>{{req.get_year()}}</td>
            <td>{{req.get_email()}}</td>
            <td>{{req.get_request_timestamp()}}</td>
            <td>
              <a href="/admin/accept?user_id={{req.get_user_id()}}" style="background-color: rgb(36, 200, 36);" class="btn btn-primary" >Accept</a>
              <a href="/admin/deny?user_id={{req.get_user_id()}}" style="background-color: rgb(255, 73, 73);" class="btn btn-primary" >Reject</a>
            </td>
          </tr>
      {% endfor %}
          </table>
        </div>

          <br>
          <h3 class="page-title">Handle Post Requests</h3>
          <div class="container-fluid">
            <table class="table table-striped">
              <tr>
                <th>Post Creator</th>
                <th>Post Title</th>
                <th>Post Description</th>
                <th>Post Image</th>
                <th>Action</th>
              </tr>
              {% for req in posts%}
                <tr>
                  <td>{{req.get_creator_id()}}</th>
                  <td>{{req.get_title()}}</th>
                  <td>{{req.get_description()}}</th>
                  <td>
                    <a target="_blank" rel="noopener noreferrer" href={{req.get_image_url()}}><img style="width: 50px; height: 50px;" src={{req.get_image_url()}}></a>
                  </td>
                  <td>
                      <a href="/admin/accept_post?post_id={{req.get_post_id()}}" style="background-color: rgb(36, 200, 36);" class="btn btn-primary" >Accept</a>
                      <a href="/admin/deny_post?post_id={{req.get_post_id()}}" style="background-color: rgb(255, 73, 73);" class="btn btn-primary" >Reject</a>
                  </td>

                </tr>
              {% endfor %}
              </table>
            </div>
            <div style="margin-bottom: 30px;" class="d-flex justify-content-center">
              <span>Contact Emilio with any questions, concerns or bugs at <a href="mailto:emiliocanor@gmail.com">emiliocanor@gmail.com</a></span>
            </div>
      </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>
