
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ClubNet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_package/favicon.ico') }}">
</head>

<body>
  <div style="background-color: #f58025;" class="cover-container d-flex  p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="d-flex flex-row">
        <div class="d-flex flex-row">
          <img src=https://res.cloudinary.com/clubnet/image/upload/v1668493806/ClubNet_logo_white_a7byvg.png style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;">
          <h3 style="margin-left: 10px;" class="masthead-brand">ClubNet</h3>
        </div>
        <div style="width: 100%;" class="d-flex justify-content-end">
          <nav class="nav nav-masthead justify-content-center">
            {% if validation == 3 %}
            <a class="nav-link" href="/admin">Admin</a>
            {% endif %}
            <a class="nav-link" href="/home">Home</a>
            <a class="nav-link" href="/announcements">Announcements</a>
            <a class="nav-link" href="/members">Members</a>
            <a class="nav-link" href="/donations">Donate</a>
            <div style="width: 40px; height: 40px; margin-left: 10px;" onclick="window.location='/myprofile';">
              <img src={{img}} style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;">
            </div>
          </nav>
          <div>
          </div>
    </header>
  </div>
  <div class="wrap">
    <div class="main">
      <div style="margin-top: 50px;" class="d-flex align-items-center justify-content-center">
        <div class="d-flex flex-column align-items-center" style="border-radius: 20px; padding: 20px; background-color: rgb(226, 226, 226)">
          <h1>Upload An Image For Your New Post</h1>
          <p>valid inputs: jpg</p>
          <!-- <img src="" style="background-color: gray; width: 50%; height: 50%;"> -->
          <div class="d-flex flex-column ">
          <form class="d-flex flex-column ">
            <!-- <label for="media" class="form-label">File upload</label> -->
            <input class="btn" type="file" id="media" accept="image/jpeg">
            <!-- Picture File: <input id="media" type="file" /> -->
            <br>
            <br>
            <button type="submit" class="btn btn-primary" name="" value="Upload Picture">Submit</button>
          </form>
          <br>

          <form action="/announcements" class="d-flex flex-column">
            <button type="skip" class="btn btn-white" name="" value="Skip"> Click here to skip</button>
          </form>
        </div>
        </div>
        <script>
          document.querySelector("form").addEventListener("submit", (event) => {
            event.preventDefault();
            const fileInput = document.querySelector("#media");
            const formData = new FormData();

            formData.append("file", fileInput.files[0]);

            const options = {
              method: "POST",
              body: formData,
            };

            fetch("/upload_post_image?post_id={{post_id}}", options)
              .then((response) => {
                window.location.assign('/announcements')
                return response.json();
              })
              .then((data) => {
                console.log(data);
              })
              .catch((error) => {
                console.log(error);
              });
          });
        </script>
        </div>
    </div>
  </div>
    {% include 'footer.html' %}
  </body>

</html>
