<!-- TO DO LIST, SET CUSTOM COLORS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <title>ClubNet</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_package/favicon.ico') }}">

</head>
<body>
  <div class="wrap">
    <div class="main">
      <h1 style = "margin-left: 10px;">{{CASValue}}, your request is pending.</h1>
      <br>
      <h4 style = "margin-left: 10px;">Check your inbox for an email from "clubnetprinceton@gmail.com". If it is in your spam, please mark it as  "Not spam" so that you can receive future communications. </h4>
      <br>
      <p style = "margin-left: 10px;"> In the meantime, you could contact one of the administrators below to ask for an update on your approval process:</p>
      <br>
      <div class="container-fluid" id="results_table">
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Officer Position</th>
          </tr>
          {% for admin in admins%}
            <tr>
              <th>{{admin.get_name()}}</th>
              <th>{{admin.get_email()}}</th>
              <th>{{admin.get_officer_position()}}</th>
            </tr>
          {% endfor %}
          </table>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>
