<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubNet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="d-flex flex-row">
            <div class="d-flex flex-row">
                <img src={{img}} style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;"/>
                <h3 style="margin-left: 10px;" class="masthead-brand">ClubNet</h3>
            </div>
            <div style="width: 100%;"  class="d-flex justify-content-end">
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" href="/admin">Admin</a>
                    <a class="nav-link" href="/home">Home</a>
                    <a class="nav-link" href="/announcements">Announcements</a>
                    <a class="nav-link" href="/members">Members</a>
                    <a class="nav-link" href="/donations">More</a>
                    <div style="width: 40px; height: 40px; margin-left: 10px;" onclick="window.location='/myprofile';">
                        <img src={{img}} style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;"/>
                    </div>
                </nav>
            <div>
        </div>
    </header>
      <br>
      <h3>Manage Users</h3>
      <br>
      <h3>Handle Join Requests</h3>

      <div class="container-fluid" id="results_table">
        <table class="table table-striped">
          <tr>
            <th>User NetID</th>
            <th>Name</th>
            <th>Class Year</th>
            <th>Accept?</th>
            <th>Reject?</th>
          </tr>
          {% for req in requests%}
          <tr>
            <th>{{req.get_user_id()}}</th>
            <th>{{req.get_name()}}</th>
            <th>{{req.get_year()}}</th>
            <th>
                <a href="/admin/accept?user_id={{req.get_user_id()}}" style="background-color: green;" class="btn btn-primary" >Accept</a>
            </th>
            <th>
                <a href="/admin/deny?user_id={{req.get_user_id()}}" style="background-color: red;" class="btn btn-primary" >Reject</a>
            </th>
          </tr>
      {% endfor %}
          </table>
        </div>

      <br> 
      <h3>Handle Post Requests</h3>
      <br> 

    {% include 'footer.html' %}
</body>
</html>
