<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubNet</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
</head>
<body>
  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">ClubNet</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/admin">Admin</a>
            <a class="nav-link active" href="/home">Home</a>
            <a class="nav-link" href="/posts">Announcements</a>
            <a class="nav-link" href="/members">Members</a>
            <a class="nav-link" href="/more">More</a>
          </nav>
        </div>
      </header>
      <br>
      <h3>Handle Join Requests</h3>

      <div class="container-fluid" id="results_table">
        <table class="table table-striped">
          <tr>
            <th>User NetID</th>
            <th>Name</th>
            <th>Class Year</th>
            <th>Accept?</th>
            <th>Reject?</th>
          </tr>
          {% for req in requests%}
          <tr>
            <th>{{req.get_user_id()}}</th>
            <th>{{req.get_name()}}</th>
            <th>{{req.get_year()}}</th>
            <th>
                <a href="/admin/accept?user_id={{req.get_user_id()}}" style="background-color: green;" class="btn btn-primary" >Accept</a>
            </th>
            <th>
                <a href="/admin/deny?user_id={{req.get_user_id()}}" style="background-color: red;" class="btn btn-primary" >Reject</a>
            </th>
          </tr>
      {% endfor %}
          </table>
        </div>

      <br> 
      <h3>Handle Post Requests</h3>
      <br> 
      <h3>Manage Users</h3>

    {% include 'footer.html' %}
</body>
</html>
