<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ClubNet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_package/favicon.ico') }}">
</head>
<div style="background-color: #f58025; margin-bottom: 10px;" class="cover-container d-flex  p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="d-flex flex-row">
        <div class="d-flex flex-row">
            <img src=https://res.cloudinary.com/clubnet/image/upload/v1668493806/ClubNet_logo_white_a7byvg.png style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;">
            <h3 style="margin-left: 10px;" class="masthead-brand">ClubNet</h3>
        </div>
        <div style="width: 100%;"  class="d-flex justify-content-end">
            <nav class="nav nav-masthead justify-content-center">
                {% if validation == 3 %}
                  <a class="nav-link" href="/admin">Admin</a>
                {% endif %}
                <a class="nav-link" href="/home">Home</a>
                <a class="nav-link active" href="/announcements">Announcements</a>
                <a class="nav-link" href="/members">Members</a>
                <a class="nav-link" href="/donations">Donate</a>
                <div style="width: 40px; height: 40px; margin-left: 10px;" onclick="window.location='/myprofile';">
                    <img src={{img}}  style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;" >
                </div>
            </nav>
        <div>
    </div>
  </header>
</div>
<body>
  <div class="wrap">
    <div class="main">
      <div class="d-flex flex-row" >
        <div class="d-flex flex-column align-items-center" style="width: 100%;" id= "PostArea">
          <div style="margin-bottom: 10px;">
          <!-- Members -->
          <input type="button" class="btn btn-primary" id="Students" value="Students" name="Students"  />
          <input type="button" class="btn btn-primary" id="Alumni" value="Alumni" name="Alumni"  />
          <input type="button" class="btn btn-primary" id="All" value="All" name="All"  />
          <input type="hidden" id="filter"  value="">
          <input type="hidden" id="netid"  value={{netid}}>
          <input type="hidden" id="page_number"  value={{page_number}}>
          <input type="hidden" id="num_pages"  value={{num_pages}}>
          </div>
          <div id="Posts">
          </div>
          <nav style="margin-top: 10px;">
            <ul class="pagination">
              <li id="previous" class="page-item">
                <a class="page-link" href="announcements?page_number={{page_number - 1}}">Previous</a>
              </li>
              {% if page_number > 2 %}
                <li class="page-item">
                  <a class="page-link" href="announcements?page_number=1">...</a>
                </li>
              {% endif %}
              {% if page_number > 1 %}
                <li class="page-item">
                  <a class="page-link" href="announcements?page_number={{page_number - 1}}">{{page_number - 1}}</a>
                </li>
              {% endif %}
              <li class="page-item active">
                <a class="page-link" href="announcements?page_number={{page_number}}">{{page_number}} <span class="sr-only">(current)</span></a>
              </li>
              {% if num_pages > page_number %}
              <li class="page-item">
                <a class="page-link" href="announcements?page_number={{page_number + 1}}">{{page_number + 1}}</a>
              </li>
              {% endif %}
              {% if num_pages - 1 > page_number %}
                <li class="page-item">
                  <a class="page-link" href="announcements?page_number={{num_pages}}">...</a>
                </li>
              {% endif %}
              <li id="next" class="page-item">
                <a class="page-link" href="announcements?page_number={{page_number + 1}}">Next</a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- Side Panel -->
        <div style="margin-left: 50px; margin-right: 50px;">
          <!-- Create Announcement -->
          <button type="button" class="btn btn-primary" id="form">Submit an Announcement!</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
  $('#form').click(function() {
      $("#PostArea").load('form');
  });
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script>
      // updates the CourseTable
      function handleResponse(response) {
        $('#Posts').html(response);
      }

      const page_number = $('#page_number').val();
      const num_pages = $('#num_pages').val();
      const prev = document.getElementById("previous")
      const next = document.getElementById("next")
      if (page_number == 1) {
        prev.className = "page-item disabled"
      }
      if (page_number == num_pages) {
        next.className = "page-item disabled"
      }

      var request = null;
      // makes the request by getting the values of the input
      function getResults() {
        var filter = $('#filter').val();
        var netid = $('#netid').val();
        var page_number = $('#page_number').val();
        console.log(filter)

        let url = '/get_announcements' +
          '?filter=' + encodeURIComponent(filter) +
          '&id=' + encodeURIComponent(netid) +
          '&page_number=' + encodeURIComponent(page_number)

          // +

        //   '&title=' + encodeURIComponent(title)
        //
        if (request != null)
          request.abort();
        // // send the request to the function that updates the values
        request = $.ajax({
          type: 'GET',
          url: url,
          success: handleResponse
        });
      }

      // essentially just adds listeners here
      function setup() {
        $( "#Alumni" ).on( "click", function() {
          $("#filter").val("alumni")
          $("#Alumni").prop('disabled', true)
          $("#Students").prop('disabled', false)
          $("#All").prop('disabled', false)
          getResults()
        })
        $( "#Students" ).on( "click", function() {
          $("#filter").val("members")
          $("#Alumni").prop('disabled', false)
          $("#Students").prop('disabled', true)
          $("#All").prop('disabled', false)
          getResults()
        })
        $( "#All" ).on( "click", function() {
          $("#filter").val("")
          $("#Alumni").prop('disabled', false)
          $("#Students").prop('disabled', false)
          $("#All").prop('disabled', true)
          getResults()
        })
        getResults()
        // $("#Reset").prop('disabled', true)
      }

      // init JS for the DOM
      $('document').ready(setup);
      </script>
    {% include 'footer.html' %}
</body>
</html>
