<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>ClubNet</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <div style="background-color: #f58025; margin-bottom: 10px;" class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="d-flex flex-row">
          <div class="d-flex flex-row">
              <img src={{img}} style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;">
              <h3 style="margin-left: 10px;" class="masthead-brand">ClubNet</h3>
          </div>
          <div style="width: 100%;"  class="d-flex justify-content-end">
              <nav class="nav nav-masthead justify-content-center">
                  <a class="nav-link" href="/home">Home</a>
                  <a class="nav-link active" href="/announcements">Announcements</a>
                  <a class="nav-link" href="/members">Members</a>
                  <a class="nav-link" href="/donations">More</a>
                  <div style="width: 40px; height: 40px; margin-left: 10px;" onclick="window.location='/myprofile';">
                      <img src={{img}}  style="width: 40px; height: 40px; border-radius: 20px; object-fit: cover;" >
                  </div>
              </nav>
          <div>
      </div>
    </header>
  </div>
  <div class="d-flex flex-row" id="Posts">
    <div class="d-flex flex-column align-items-center" style="width: 100%;">
      {% for post in posts%}
        <div class="d-flex">
          <div style="margin-top: 20px;" class="post-card">
            <!-- Post Header -->
            <div class="d-flex flex-row">
              <!-- creator profile picture -->
              <img src={{post.user.get_profile_image_url()}} alt="profile pic" style="width: 60px; height: 60px; border-radius: 30px; object-fit: cover;"/>
              <!-- creator info -->
              <div class="d-flex justify-content-center ml-3 flex-column">
                <b>{{post.user.name}}</b>
                <p>{{post.user.class_year}}</p>
              </div>
              <!-- timestamp -->
              <div class="d-flex justify-content-end" style="width: 400px;">
                <p>{{post.post.get_timestamp()}}</p>
              </div>
            </div>
            <!-- Post Content -->
            <img src={{post.post.get_image_url()}} alt="Responsive image" style="width: 100%; margin-top: 20px; border-radius: 20px">

            <!-- Post Information/Footer -->
            <div style="margin-top: 10px;" >
              <h5 class="card-title">{{post.post.get_title()}}</h5>
              <p class="card-text"> {{post.post.get_description()}}</p>
            </div>
          </div>
        </div>
      {% endfor %}   
    </div>
    <div style="margin-left: 50px; margin-right: 50px;">
      <button type="button" class="btn btn-light" id="form">Submit an Announcement!</button>
    </div>
  </div>

  <script>
  $('#form').click(function() {
      $("#Posts").load('form');
  });
  </script>

<!-- {% include 'footer.html' %} -->
</body>

</html>
