<div class="col-md-1">
  <br>
  <br>
  <center>
    <button type="button" class="btn btn-light" id="form">Submit an Announcement!</button>
  </center>

</div>
<div class="col-md-11">
    <form method="post" action="/announcements">
        <center>
        <label for="postAnnouncement">Post an Announcement</label>
        <input type="text" class="form-control" id="postAnnouncement" placeholder="Post to Thread" name= "Post Description" style="width: 90%;">
        <button type="submit" class="btn btn-primary">Submit</button>
        </center>
    </form>
</div>
