
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ClubNet</title>
</head>
<body>
  <div class="inner">
  <h3 class="masthead-brand">Cover</h3>
  <nav class="nav nav-masthead justify-content-center">
    <a class="nav-link active" href="/home">Home</a>
    <a class="nav-link" href="#">Announcements</a>
    <a class="nav-link" href="#">Members</a>
    <a class="nav-link" href="#">More</a>
  </nav>
</div>
    <h1>Good to see you, : {{ CASValue }}</h1>
    <h1>Your validation status is?, {{ validation }}</h1>
</body>
</html>
