<!-- TO DO LIST, SET CUSTOM COLORS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <title>ClubNet</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">


</head>
<body>
  <center>
    <h1>You're invalidated</h1>
  <br>
   <a style="margin-bottom: 40px" href="/home" class="btn btn-lg btn-secondary fw-bold border-orange bg-orange">Try Again</a>
    <br>
    <h2>OR ... </h2>
    <br>

   <form method="POST" action="/invalid?user_id={{CASValue}}">
    Enter your Name and Last Name: <input style="margin-bottom: 10px;" class="text" name="name"></input>
    <br>
    Enter your Class Year: <input style="margin-bottom: 10px;" class="text" name="year"></input>
    <br>
    <input class="btn btn-lg btn-secondary fw-bold border-orange bg-orange" type="submit" value="Request to be Approved">
   </form>
  <center>
    {% include 'footer.html' %}
</body>
</html>
