<!-- TO DO LIST, SET CUSTOM COLORS -->
<!DOCTYPE html>
<html style="height: 100%" lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <title>ClubNet</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon_package/favicon.ico') }}">


</head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<body>
  <div class="wrap">
    <div style="margin-bottom: 10px;" class="main">
      <div class="d-flex align-items-center justify-content-center">
        <div style="background-color: lightgray; padding: 35px; border-radius: 15px; margin-top: 0px;" class="d-flex flex-column align-items-center justify-content-center">
          <div style="background-color: lightgray; padding: 35px; border-radius: 15px; margin-top: 0px;" class="d-flex flex-column align-items-center justify-content-center">
            <h1>You're invalidated, {{CAS_Value}} </h1>
            <br>
            <a style="margin-bottom: 40px" href="/home" class="btn btn-lg btn-secondary fw-bold border-orange bg-orange">Try Again</a>
          </div>
          <div style="background-color: #f58025; padding: 35px; border-radius: 15px; margin-top: 0px;" class="d-flex flex-column align-items-center justify-content-center">
            <br>
            <h2>OR ... </h2>
            <br>
            <span>Enter your information and request to be aproved by an admin</span>
            <br>
            <form class="d-flex flex-column align-items-center justify-content-center" method="POST" action="/process_request?user_id={{CAS_Value}}">
              <input placeholder="Full Name..." style="margin-bottom: 10px;" class="form-control" name="name">
              <input placeholder="Class year..." style="margin-bottom: 10px;" class="form-control" name="year">
              <br>
              <input class="btn btn-lg btn-dark" type="submit" value="Request to be Approved">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>
