<!-- TO DO LIST, SET CUSTOM COLORS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap core CSS -->
    <title>ClubNet</title>
    <meta charset="UTF-8">
    <!-- /Users/yashparikh/ClubNet/node_modules/bootstrap/dist/css/bootstrap.min.css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/styles/main.css">

</head>
<body>
    <div class="container4">
        <center><h1>ClubNet!</h1>
        <a href="/home" class="btn btn-lg btn-secondary fw-bold border-orange bg-orange">Login with CAS</a>
      </center>
      </div>

  </br>

  <center>
</body>
</html>
