<!----we only want to send email with newest post that as been updated, not all posts (don't need for loop)---->
<div class="d-flex flex-row" id="Posts">
  <div class="d-flex flex-column align-items-center" style="width: 100%;">
    {% for post in posts%}
      <div class="d-flex">
        <div style="margin-top: 20px;" class="post-card">
          <!-- Post Header -->
          <div class="d-flex flex-row">
            <!-- creator profile picture -->
            <img src={{post.user.get_profile_image_url()}} alt="profile pic" style="width: 60px; height: 60px; border-radius: 30px; object-fit: cover;"/>
            <!-- creator info -->
            <div class="d-flex justify-content-center ml-3 flex-column">
              <b>{{post.user.name}}</b>
              <p>{{post.user.class_year}}</p>
            </div>
            <!-- timestamp -->
            <div class="d-flex justify-content-end" style="width: 400px;">
              <p>{{post.post.get_timestamp()}}</p>
            </div>
          </div>
          <!-- Post Content -->
          <img src={{post.post.get_image_url()}} alt="Responsive image" style="width: 100%; margin-top: 20px; border-radius: 20px">

          <!-- Post Information/Footer -->
          <div style="margin-top: 10px;" >
            <h5 class="card-title">{{post.post.get_title()}}</h5>
            <p class="card-text"> {{post.post.get_description()}}</p>
          </div>
          <div>
            <span>Likes:</span>
            <span>{{post.post.get_likes()}}</span>
            <form action="/announcements/like">
              <input type="hidden" id="post_id" name="post_id" value="{{post.post.get_post_id()}}">
              <button type="submit">Like this post</button>
            </form>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>