<body>
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">ClubNet</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link active" href="/home">Home</a>
          <a class="nav-link" href="#">Announcements</a>
          <a class="nav-link" href="#">Members</a>
          <a class="nav-link" href="#">More</a>
        </nav>
      </div>
    </header>
