body {
background-color: white;
}


.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.modal {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/* announcements */
  .post-card {
    padding: 20px;
    flex-direction: column;
    max-width: 540px;
    background-color: rgb(222, 222, 222);
    border-radius: 20px;
  }

/* members */
  .member-card {
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 222, 222);
    border-radius: 20px;
  }

  .member-container {
    display: flex;
    flex-direction: column;
  }

  .segment-container {
    margin-bottom: 10px;
  }

  .pagination-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
  }

  .page-container {
    display: flex;
    flex-direction: column;
  }

  div.container4 {
      height: 100vh;
      position: relative }
  div.container4 h1 {
      margin: 0;
      position: absolute;
      top: 40%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      color: black;
    }
  div.container4 a {
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      background-color: black;

    }

.page-title {
  margin-left: 30px;
}

.page-subtitle {
  margin-left: 30px;
  color: gray;
}
